/*
.大
.片
.全
.上
.身左
.空1
.左
.身体
.身右
.感觉
.感下
.中
.空2
.右
.下
.人生
.时间
.地图
.经验
.模式
*/

body{display: flex;}
body{justify-content: center;}
body{align-items: center;}



.大{display: flex;}
.大{flex-direction: column;}

    .片{color: white;}

    .全{display: flex;}
    .全{flex-direction: column;}

        .上{display: flex;}
        .上{flex-direction: row;}

            .身左{display: flex;}
            .身左{flex-direction: column;}
            .身左{flex-grow: 3;}

            .身体{flex-grow: 5;}

            .身右{display: flex;}
            .身右{flex-direction: column;}
            .身右{flex-grow: 1;}

                .感下{display: flex;}
                .感下{flex-direction: row;}
                .感觉{flex-grow: 1;}
                .感下{flex-grow: 1;}

                    .中{flex-grow: 1;}
                    .空2{flex-grow: 0;}
                    .右{flex-grow: 1;}

        .下{display: flex;}
        .下{flex-direction: column;}


            .经验{display:flex;}
            .经验{flex-direction:column;}

                .天地阴阳{display:flex;}
                .天地阴阳{flex-direction:column;}
                .天地阴阳{justify-content: space-between;}

                    .人格{display:flex;}
                    .人格{flex-direction:row;}








    .时间 {
        position: fixed;
        z-index: 50;
        left: 0;
        top: 0.05rem;
        width: 100%;
      }

    .地图 {
        position: fixed;
        z-index: 50;
        left: 0;
        bottom: 0.05rem;
        width: 100%;
      }

      .人生 {
        position: absolute;
        z-index: 51;
        left: 0;
        top: 135.5px;
        width: 100%;
      }
  

      .模式 {
        position: absolute;
        z-index: 50;
        left: 0;
        top: 135.5px;

      }
      
      .经验 {
        position: absolute;
        z-index: 51;
        right: 0;
        top: 236.5px;

      }

      .上{z-index: 52;}
      /*.上{float: left;}*/
        


/*宽度计算  
        屏幕像素 = 1080px/？？？DPI
                视窗 = 393px
                    html = 
                        body = 
                            div大 = 
                                div小 = 
                                    div细 
*/

.大{width: 100vw;}
    .片{width: 9vw;}
    .全{width: 100vw;}
        .经验{width: 45vw;}
        .模式{width: 100vw;}
        .地图 table {width: 100%;}


/*
.身体{width: 100%;}
.大{width: 100vw;}
.全{width: 100%;}
.全{margin: 50px;}

.上{width: 100%;}
.下{width: 100%;}
*/



        .空1{height: 50%;}
        .人生{height: 63%;}
        .经验{height: 25em;}
        .模式{height: 63%;}


/*
.地图{min-height:365px;}
.时间{height: 200px;}
body{height: 100vh;}
.人生时间轴的 td{height: 6px;}
*/

 

body{margin: 0;}
    .大{margin: auto;}
        .全{margin-top: 265.5px;}
            .上{margin: 5px 5px 0px 5px;}
                .感觉{margin: auto;}
            .下{margin: 5px 5px 185px 5px;}
                .经验{margin: 5px 0px 5px 0px;}



    .人格 p {margin:auto;}
    .人格 p {padding:auto;}


.全{border-radius: 5px 5px 5px 5px;}
    .上{border-radius: 5px 5px 5px 5px;}
    .下{border-radius: 5px 5px 5px 5px;}
        .经验{border-radius: 5px 5px 5px 5px;}
        .模式{border-radius: 5px 5px 5px 5px;}


.大{background-color: #ddd;}
.大{background-color: #111;}
/**/.人生{background-color: #ddd;}
.经验{background-color:#002060;}
.上{background-color:#610522;}



.上{color: white;}
.人生{color: white;}
.时间{color: #fff;}
.经验{color:#ffffff;}


/*
.上{color: #000;}
.上{background-color: #f3f3f3;}
*/

