/*
.大
.片
.全
.上
.身左
.空1
.左
.身体
.身右
.感觉
.感下
.中
.空2
.右
.下
.人生
.时间
.地图
.经验
.模式
*/

/*=============================================================

===============================================================
*/

body{display: flex;}
body{justify-content: center;}
body{align-items: center;}

    .大{display: flex;}
    .大{flex-direction: column;}

        .全{display: flex;}
        .全{flex-direction: column;}

            .上{display: flex;}
            .上{flex-direction: row;}

                .身左{display: flex;}
                .身左{flex-direction: column;}

                .身右{display: flex;}
                .身右{flex-direction: column;}

                    .感下{display: flex;}
                    .感下{flex-direction: row;}

            .下{display: flex;}
            .下{flex-direction: column;}


                .经验{display:flex;}
                .经验{flex-direction:column;}

                    .天地阴阳{display:flex;}
                    .天地阴阳{flex-direction:column;}
                    .天地阴阳{justify-content: space-between;}

                        .人格{display:flex;}
                        .人格{flex-direction:row;}





/*=============================================================
.地图 {position: fixed;}


===============================================================
*/




.时间 {position: fixed;}

.人生 {position: absolute;}
.模式 {position: absolute;}
.经验 {position: absolute;}


.地图 {left: 0.1rem;}
.时间 {left: 0.1rem;}
.人生 {left: 0;}
.模式 {left: 0.5rem;}

    .时间 {top: 0.1rem;}
    .人生 {top: 2.9rem;}
    .模式 {top: 3.5rem;}

    /*
    .人生 {top: 165.5rem;}
    .模式 {top: 175.5rem;}
    */

    .经验 {top: 236.5px;}

        .经验 {right: 0;}

            .地图 {bottom: 0.1rem;}



    .时间 {z-index: 2;}

        .人生 {z-index: 3;}
            .模式 {z-index: 4;}
            .经验 {z-index: 5;}
                .上 {z-index: 6;}

    .地图 {z-index: 2;}

/*.上{float: left;}*/

/*=============================================================

===============================================================
*/



/*
宽度计算  ========================================
        屏幕像素 = 1080px/？？？DPI
                视窗 = 393px
                    html = 
                        body = 
                            div大 = 
                                div小 = 
                                    div细 
==================================================
*/


/*
.身体{width: 100%;}
.大{width: 100vw;}
.全{width: 100%;}
.全{margin: 50px;}

.上{width: 100%;}
.下{width: 100%;}

.身左{flex-grow: 3;}
.身体{flex-grow: 5;}
.身右{flex-grow: 1;}

.感觉{flex-grow: 1;}
.感下{flex-grow: 1;}

    .中{flex-grow: 1;}
    .空2{flex-grow: 0;}
    .右{flex-grow: 1;}

*/

/*
    .人生时间轴 table {width: 100%;}
    .一天时间轴 table {width: 100%;}
            .模式{width: 93vw;}
*/

.大{width: 105%;}
    .片{width: 9vw;}
    .全{width: 100%;}

        .身左{width: 16.666%;}
        .身体{width: 33.332%;}
        .身右{width: 49.998%;}
            .中{width: 45%;}
            .空2{width: 10%;}
            .右{width: 45%;}

        .时间{width: 100%;}
        .人生{width: 100%;}
        .地图{width: 100%;}
            .地图 table {width: 100%;}
        .经验{width: 45vw;}

            .模式 table {width: 100%;}







        
/*=============================================================
body{height: 100vh;}
    .人生{height: 63%;}
        .人生时间轴的 td{height: 6px;}
    .时间{height: 200px;}
    .地图{min-height:365px;}
    .模式{height: 63%;}
===============================================================
*/
      .上{height: 400px;}
      .感觉{height: 50%;}
      .感下{height: 50%;}
        .空1{height: 50%;}
        .中{height: 50%;}
        .经验{height: 25em;}

/*=============================================================

===============================================================
*/



body{margin: 0;}
    .大{margin: auto;}
        .全{margin-top: 265.5px;}
            .上{margin: 5px 5px 0px 5px;}
                .感觉{margin: auto;}
            .下{margin: 5px 5px 5 5px;}
                .经验{margin: 5px 0px 5px 0px;}
                .人生{margin: 5px 5px 5px 5px;}


    .人格 p {margin:auto;}
    .人格 p {padding:auto;}

/*=============================================================

===============================================================
*/

.全{border-radius: 5px 5px 5px 5px;}
    .上{border-radius: 5px 5px 5px 5px;}
    .下{border-radius: 5px 5px 5px 5px;}
        .时间{border-radius: 5px 5px 5px 5px;}
        .人生{border-radius: 5px 5px 5px 5px;}
        .经验{border-radius: 5px 5px 5px 5px;}
        .模式{border-radius: 5px 5px 5px 5px;}







/*=============================================================

.大{background-color: #ddd;}
    .上{background-color:#610522;}
        .模式{background-color:#F40002;}
===============================================================
*/

.大{background-color: #010101;}
    .过去总结{background-color:#610522;}
    .现在念头{background-color:#610522;}
    .未来规划{background-color:#610522;}
        .人生{background-color:#ff6600;}
        .时间{background-color:#FFFF99;}
        .经验{background-color:#002060;}


/*=============================================================

===============================================================
*/


.片{color: white;}
.上{color: white;}
.人生{color: white;}
.时间{color: #000;}
.经验{color:#ffffff;}
.模式{color:#336699;}

/*
.上{color: #000;}
.上{background-color: #f3f3f3;}
*/

/*=============================================================

===============================================================
*/
