/*
.大
.片
.全
.上
.身左
.空1
.左
.身体
.身右
.感觉
.感下
.中
.空2
.右
.下
.人生
.时间
.地图
.经验
.模式
*/

.大{display: flex;}
.大{flex-direction: column;}


    .片{color: white;}


    .全{display: flex;}
    .全{flex-direction: column;}

        .上{display: flex;}
        .上{flex-direction: row;}

        .身左{display: flex;}
        .身左{flex-direction: column;}

        .身右{display: flex;}
        .身右{flex-direction: column;}

            .感下{display: flex;}
            .感下{flex-direction: row;}

        .下{display: flex;}
        .下{flex-direction: column;}


        .身左{flex-grow: 3;}
        .身体{flex-grow: 5;}
        /*
        .身体{width: 30%;}
        */
        .身右{flex-grow: 1;}

            .感觉{flex-grow: 1;}
            .感下{flex-grow: 1;}

                .中{flex-grow: 1;}
                .空2{flex-grow: 0;}
                .右{flex-grow: 1;}

    .时间 {
        position: fixed;
        z-index: 50;
        left: 0;
        top: 0.05rem;
        width: 100%;
      }




.片{width: 9vw;}
/*
.大{width: 100vw;}
.全{width: 100%;}
.全{margin: 50px;}
*/

.全{width: 100%;}

/*
.上{width: 100%;}
.下{width: 100%;}
*/

.大{margin: auto;}
.全{border-radius: 5px 5px 5px 5px;}

.上{margin: 5px 5px 0px 5px;}
.上{border-radius: 5px 5px 5px 5px;}

.下{margin: 5px 5px 5px 5px;}
.下{border-radius: 5px 5px 5px 5px;}

.大{background-color: #ddd;}
.上{background-color: #f3f3f3;}
.上{color: white;}


body{display: flex;}
body{justify-content: center;}
body{align-items: center;}
body{height: 100vh;}
body{margin: 0;}



.全{margin-top: 217.5px;}
.大{background-color: #111;}
.时间{color: #fff;}
.上{color: #000;}
