/*
.div0-main{}
    .div0-时间{}
    .div0-经验{}
    .div0-天地{}
*/

div{border: solid 0px #fff;}

.div0-main{width: 100%;}
.div0-main{background-color: #cccccc;}
.div0-main{height: 100%;}
.div0-main{display: flex;}
.div0-main{flex-direction: row;}

.div0-时间{width: 30%;}
.div0-时间{height: 2000px;}
.div0-时间{background-color: #cc9999;}

.div0-经验{width: 70%;}
.div0-经验{height: 2000px;}
.div0-经验{background-color: #ffff99;}


.div0-天地{width: 70%;}
.div0-天地{height: 20%;}
.div0-天地{background-color: #666699;}

.div0-天地{position: fixed;}
.div0-天地{right: 0;}
.div0-天地{bottom: 0;}