
.地图{background-image: url("../IMG/倾斜世界地图黑色裁切.jpg");}
.地图{background-repeat:no-repeat;}
.地图{background-position:center;}
.地图{background-size:cover;}
.地图{min-height:365px;}
.地图{color: #fff;}



dl{margin: 0;}
dl{padding: 0;}

dt{margin: 0;}
dt{padding: 0;}

dd{margin: 0;}
dd{padding: 0;}

dl{text-align: center;}
dt{text-align: center;}
dd{text-align: center;}

.地图 table {width: 100%;}