/* ====================================================== */
/* 全局样式重置 */
/* ====================================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* 确保元素的边框和内边距不会增加元素的总宽度 */
    font-family: 'Segoe UI', 'Microsoft YaHei', sans-serif; /* 设置全局字体 */
    list-style: none;
    color: #000000;
    color: #FFFFFF;

}


/* 链接样式 未访问的链接 已访问的链接 鼠标悬停 点击瞬间*/

a:link {
    color: #000000;         /* 访问后颜色 */
    text-decoration: none; /* 移除下划线 */
    /* border-bottom: solid 1px #000000; */
}

a:visited {
    color: #000000;         /* 访问后颜色 */
    /* border-bottom: solid 1px #000000; */
}

a:hover {
    color: #000000;         /* 访问后颜色 */
    text-decoration: none; /* 移除下划线 */
    /* border-bottom: solid 1px #ffffff; */
}

a:active {
    color: #000000;          /* 激活时颜色 */
    /* border-bottom: solid 1px #000000; */
}


img{
    width: 200px;
}


div{
    border: solid 0px red;
    border-radius: 5px;
}


h1,h2,h3{
    font-size: 16px;
    color: #FFFFFF;
}
h2{
    font-size: 16px;
    color: #FFFFFF;
}
h3{
    font-size: 16px;
    color: #FFFFFF;
}




/* ====================================================== */
/* 标题导航设置 */
/* ====================================================== */


.title{
    width: 50%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;

    background-image: linear-gradient(
            /*    rgba(0, 0, 0, 1), 
                rgba(0, 0, 0, 0.9), 
                rgba(0, 0, 0, 0.8), 
                rgba(0, 0, 0, 0.7), */
                rgba(0, 0, 0, 0.6), 
                rgba(0, 0, 0, 0.5), 
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.3), 
                rgba(0, 0, 0, 0.2), 
                rgba(0, 0, 0, 0.1), 
                rgba(0, 0, 0, 0.0));
}
.nav{
    width: 50%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;

    background-image: linear-gradient(
            /*    rgba(0, 0, 0, 1), 
                rgba(0, 0, 0, 0.9), 
                rgba(0, 0, 0, 0.8), 
                rgba(0, 0, 0, 0.7), */
                rgba(0, 0, 0, 0.6), 
                rgba(0, 0, 0, 0.5), 
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.3), 
                rgba(0, 0, 0, 0.2), 
                rgba(0, 0, 0, 0.1), 
                rgba(0, 0, 0, 0.0));
}

.header a,.nav a{
    flex-grow: 0;
}

.nav a,.title a{
    margin: 10px;
}





/* ====================================================== */
/* 标题导航设置 */
/* ====================================================== */

.main{

    width: 100%;
    margin: 50px auto 0 auto;
    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


.我的问题 h1{
    font-size: 16px;
}


.我是谁{
    margin:0 50px 50px 50px;
    background: rgba(000, 000, 000, 0.4); /* 半透明导航背景 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.属性{
    margin: 10px;
}
        
.感觉{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    
}

.年龄{
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5px;
}


.姓名,.年龄出生等级{
    width: 100%;
}

.主要经历{
    max-width: 33.3333%;
}

.一份身体肌肉力的人{
    max-width: 33.3333%;
}

.一个头脑心念力的人{
    max-width: 43.3333%;
}

.主要经历{
    max-width: 23.3333%;
}





/* ====================================================== */
/* 标题导航设置 */
/* ====================================================== */



.我在哪{
    margin:0 50px 50px 50px;
    background: rgba(000, 000, 000, 0.4); /* 半透明导航背景 */
}



.隐蔽屋12345678{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.我的物品{
    flex-grow: 1;
    width: 48%;
    background: rgba(204, 204, 51, 0.4); /* 半透明导航背景 */
    margin: 10px;

}


/* ====================================================== */
/* 标题导航设置 */
/* ====================================================== */

.我要去做什么{
    margin:0 50px 50px 50px;
    background: rgba(000, 000, 000, 0.4); /* 半透明导航背景 */
}


.主线{
    display: flex;
    flex-direction: row;
}

.主线 div{
    width: 16.66667%;
    height: 100px;
    margin: 10px 0 10px 10px;

    border-radius: 0;
    border-top: solid 6px greenyellow;

    flex-grow: 1;

    background: rgba(204, 204, 204, 0.2); /* 半透明导航背景 */
}


/* ====================================================== */
/* 标题导航设置 */
/* ====================================================== */


.footer{
    background: rgba(153, 204, 051, 0.5); /* 半透明导航背景 */
    background: rgba(0, 0, 0, 0.5); /* 半透明导航背景 */

}
.网站建立流程{
    display: flex;
    flex-direction: row;
}

.网站建立流程 div{
    width: 25%;
    margin: 20px;
    background: rgba(000, 000, 000, 0.0); /* 半透明导航背景 */
    background: rgba(255, 255, 255, 0.0); /* 半透明导航背景 */
    border-top: solid 6px #fff;

}
