.header {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;

    background-color: #f9f9f9;
    box-shadow: 0 2px 2px #00000024, 0 3px 1px -2px #0003, 0 1px 5px #0000001f;
    height: 100px;
    padding: 0 20px;
}