.nav {
    flex: 1;
}

.nav {
    border: 0px solid #000000;
    justify-content: flex-end;

}

.navul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 20px;
}

.navul li {
    list-style: none;
}

.navul li:hover {
    background-color: #003366;
    color: #ffffff;
    border-radius: 6px;
}

.navdiv {
    display: none;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

.navul li:hover .navdiv {
    display: flex;
    position: absolute;
    width: 100%;
    top: 105px;
    right: 0;
    background-color: #fff;
}

.navdivdiv {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: #fff;

    margin: 10px;
}

.navdivdiv ul {
    flex: 1;
    display: flex;
    flex-direction: column;
}