/*
.大
.片
.全
.上
.身左
.空1
.左
.身体
.身右
.感觉
.感下
.中
.空2
.右
.下
.人生
.时间
.地图
.经验
.模式
*/

.片 {float: left;}

.目录 {position: fixed;}
.目录 {top: 0;}
.目录 {left: 0;}
.目录 {width: 10vw;}
.目录 {border: 1px solid #73AD21;}

/*height:100vh; */
