@charset "utf-8";

.hello_world {
	margin: auto;
}

.main {
	margin: auto;
	width: 1920px;
}

.sjz ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.sjz li {
	float: left;
}

.sjz li {
	display: block;
	padding: 6px;
	background-color: #eee;
}
